@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="am-g">
            <div class="am-u-md-8 am-u-md-centered">
                <h1><img src="/img/logo.jpg" class="am-img-responsive" />会员系统</h1>
            </div>
        </div>
        <hr />
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-md-centered">
            <div class="am-titlebar am-titlebar-default" style="margin-bottom:20px;">
                <h2 class="am-titlebar-title ">
                    用户登陆
                </h2>
            </div>
            <form class="am-form am-form-horizontal" method="post">
                <div class="am-form-group">
                    <label for="inputUser" class="am-u-md-2 am-form-label am-text-nowrap">登陆账号：</label>
                    <div class="am-u-md-10">
                        <input type="tel" id="inputUser" name="login" value="" placeholder="输入你的手机号码或电子邮件" required>
                        <div>输入你的手机号码或电子邮件</div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="imputPassword" class="am-u-md-2 am-form-label am-text-nowrap">密码：</label>
                    <div class="am-u-md-10">
                        <input type="password" id="imputPassword" name="password" value="" placeholder="登陆密码" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-md-offset-2 am-u-md-10">
                        <label for="remember-me">
                            <input id="remember-me" type="checkbox" name="remember" checked>记住我
                        </label>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-md-10 am-u-md-offset-2">
                        <button type="submit" class="am-btn am-btn-primary">登录</button>
                        <span>
                            <a href="/user/register" class="am-btn am-btn-link">没有帐号？注册</a>
                        </span>
                    </div>
                </div>
            </form>
            @RenderPage("~/Views/Shared/ServerMessages.cshtml")
            <hr>
            <p class="">© @DateTime.Now.Year 云南镕诚建设项目管理（集团）有限公司 版权所有　邮箱：<a href="mailto:YNRCJT@163.com">YNRCJT@163.com</a></p>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/amazeui.min.js"></script>
</body>
</html>
