<div class="am-g">
    
    <div class="am-u-md-8 am-u-md-push-1">
        <div class="am-u-md-12">
            <h2>资深前端工程师</h2>
            <p>10K-20K / 杭州 / 经验3-5年 / 学历不限 / 全职</p>
            <p>技能要求： javascript / html5 / java</p>
            <div>
                <span class="am-badge tag">五险一金</span>
                <span class="am-badge tag">年度旅游</span>
                <span class="am-badge tag">股票期权</span>
                <span class="am-badge tag">岗位晋升</span>
            </div>
        </div>
        <div class="am-u-md-12">
            <h2>职位描述</h2>
            <div class="position-description" style="word-wrap:break-word;">
                <p>岗位描述：</p>
                <p>1、负责茅炉平台的H5开发；&nbsp;<br>2、负责H5插件开发，模块化框架设计与开发；&nbsp;<br>3、负责Web App及混合App的前沿技术研究和新技术调研。</p>
                <p>岗位要求：</p>
                <p>1、熟练掌握移动端H5开发、熟悉主流移动浏览器的技术特点，熟练掌握微信、支付宝服务窗等容器的JS-API；&nbsp;<br>2、熟练运用JavaScript语言与HTML5、CSS3等技术; 熟悉移动端Web绘图相关高级特性, 如canvas, webGL, CSS3动画效果等；&nbsp;<br>3、熟悉模块化、前端编译和构建工具，熟练运用主流的移动端JS库和开发框架，并深入理解其设计原理，例如：jQuery Mobile、Zepto、ReactJS、Angular等；&nbsp;<br>4、能提供完善的WebApp和混合App（JS方向）技术方案，了解服务端（node/java或其他语言）或native移动应用开发；&nbsp;<br>5、对技术有强烈的进取心，具有良好的沟通能力和团队合作精神、优秀的分析问题和解决问题的能力。</p>
                <p><br></p>
            </div>
        </div>
        <div class="am-u-md-12">
            <div class="well clearfix">
                <div class="col-xs-10">
                    <p class="radiosw choice" data-method="post" data-action="/action/jobResume/set_default_deliver">
                        <label>
                            <div class="iradio_choice checked" style="position: relative;"><input type="radio" checked="checked" name="default_deliver" value="0" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                            在线简历
                        </label>
                        <a href="/resume" class="font-green">
                            <u> 高琪（<span title="简历完整度"><u>65%</u></span>）</u>
                        </a> &nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0);" onclick="javascript:$('#myModal-annex').modal('show');" class="font-green"><u>上传附件简历</u></a>
                    </p>
                    <h5 class="text-muted">最后修改时间：2016-06-06 23:50</h5>
                </div>
                <div class="col-xs-2 text-right font-green">
                    <a class="link" href="http://job.oschina.net/resume/view/2684855" target="_blank"> 预览 </a>
                    <a class="link" href="http://job.oschina.net/resume/2684855"> 修改 </a>
                </div>
            </div>
        </div>
        <div class="am-u-md-12">
            <div class="am-comments-list am-comments-list-flip">
                <article class="am-comment">
                    <a href="#link-to-user-home">
                        <img src="" alt="" class="am-comment-avatar" width="48" height="48" />
                    </a>

                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <!--<h3 class="am-comment-title">评论标题</h3>-->
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">某人</a>
                                评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                            </div>
                        </header>

                        <div class="am-comment-bd">
                            ...
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="am-u-md-3">
        <div class="clearfix com-info">
            <label class="attest attest-d">
                未认证
            </label>
            <div class="col-xs-12">
                <h3 class="text-left"><strong><a href="http://job.oschina.net/company/2506316_11153" title="杭州茅炉网络科技有限公司">杭州茅炉网络科技有限公司</a></strong></h3>
                <ul class="lists text">
                    <li><span class="text-muted">领域：</span></li>
                    <li><span class="text-muted">规模：</span></li>
                    <li class="font-green"><span class="text-muted">主页：</span><a href="" target="_blank" title=""></a></li>
                    <li><span class="text-muted">阶段：</span></li>
                </ul>
            </div>
            <div class="logo">
                <a href="http://job.oschina.net/company/2506316_11153">
                    <span>
                        茅
                    </span>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <p>
                <span class="text-muted">地址：</span><span>杭州西湖区华星路现代产业园</span><br>
            </p>
        </div>
        <div class="panel" id="panel_similar_position">
            <div class="heading">
                <i class="icon-md icon-search1 fl"></i><h4><strong>相似职位</strong></h4>
                <span class="fr text-muted"><a href="javascript:void(0);" onclick="change_similar_position_list()"><small><i class="glyphicon glyphicon-repeat"></i>&nbsp;换一换</small></a></span>
            </div>
            <div class="posts">
                <ul class="listso" id="similar_position_list">
                    <li class="clearfix">
                        <div class="fl">
                            <span class="logo-word">
                                恒
                            </span>
                        </div>
                        <div class="fl">
                            <p><a href="http://job.oschina.net/position/10873_2755641_25198" title="HTML5">HTML5</a></p>
                            <p class="font-red-u">8K-15K</p>
                        </div>
                        <div class="fr wage">
                            <p>
                                <a href="http://job.oschina.net/company/2755641_10873" title="济南恒运信息技术有限公司">
                                    恒运科技
                                </a>
                            </p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="fl">
                            <img src="http://static.oschina.net/uploads/company/logo/201606/12103839_45ha2808848.png">
                        </div>
                        <div class="fl">
                            <p><a href="http://job.oschina.net/position/11097_2808848_25834" title="JAVA软件工程师">JAVA软件工程师</a></p>
                            <p class="font-red-u">8K-15K</p>
                        </div>
                        <div class="fr wage">
                            <p>
                                <a href="http://job.oschina.net/company/2808848_11097" title="杭州融都科技股份有限公司">
                                    融都科技
                                </a>
                            </p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="fl">
                            <span class="logo-word">
                                齐
                            </span>
                        </div>
                        <div class="fl">
                            <p><a href="http://job.oschina.net/position/10454_2666821_24659" title="H5游戏开发工程师">H5游戏开发工程师</a></p>
                            <p class="font-red-u">15K-30K</p>
                        </div>
                        <div class="fr wage">
                            <p>
                                <a href="http://job.oschina.net/company/2666821_10454" title="杭州齐趣科技有限公司">
                                    齐趣科技
                                </a>
                            </p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="fl">
                            <span class="logo-word">
                                齐
                            </span>
                        </div>
                        <div class="fl">
                            <p><a href="http://job.oschina.net/position/10454_2666821_25903" title="前端游戏开发工程师">前端游戏开发工程师</a></p>
                            <p class="font-red-u">10K-20K</p>
                        </div>
                        <div class="fr wage">
                            <p>
                                <a href="http://job.oschina.net/company/2666821_10454" title="杭州齐趣科技有限公司">
                                    齐趣科技
                                </a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
