<div class="col-md-6 col-md-offset-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>
                    <a href="http://job.oschina.net/position/11034_2807842_25676" class="h4 name over-hide" target="_blank">网络工程师</a>
                    <span>前天 11:26</span>
                </h4>
                
                <div>
                    <span class="h4 rmb">8K-15K  </span>
                    <span> 经验2-3年  /  学历大专 </span>
                </div>
                <div>经验不限 / 学历不限</div>
            </div>
            <div>
                <div class="col-md-1">
                    <img class="img-responsive" src="http://static.oschina.net/uploads/company/logo/201603/01111754_cxkz2656057.png">
                </div>
                <div class="col-md-4">
                    <h4><a href="http://job.oschina.net/company/2807842_11034" class="h4 title  over-hide">北京西凌立华科技有限公司</a></h4>
                    <span class="type">
                        互联网                                                                    / 成长型
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>1、精通Android及NDK开发，有四年项目经验，开发过6个产品，目前在线的有：银座网客户端，萌宝拍网客户端（自己设计自己开发）； 2、精通PHP开发，有五年开发经验，萌宝拍网为自己开发； 3、精通JS、DIV+CSS，可迅速调出页面； 4、熟悉iOS开发，正在开发萌宝拍客户端，很快上线； 对技术有源发的兴趣，持续学习前沿技术，并独立完成多个兴趣项目。某业余时间做的 Android 程序开发已有...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="layout over-hide skill">
                    <span>技能要求：</span>
                    <span><a href="javascript:void(0);">android</a> / <a href="javascript:void(0);">python</a> / <a href="javascript:void(0);">java</a> / <a href="javascript:void(0);">lua</a> / <a href="javascript:void(0);">ios</a> / <a href="javascript:void(0);">自动化</a></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="glyphicon-tags">
                    <span class="glyphicon-tag"> 领导好 </span>
                    <span class="glyphicon-tag"> 交通补助 </span>
                    <span class="glyphicon-tag"> 午餐补助 </span>
                    <span class="glyphicon-tag"> 带薪年假 </span>
                </div>
            </div>
        </div>
    </div>
</div>