<div class="am-g">
    <div class="am-u-md-10 am-u-md-offset-1 list-filter">
        @RenderPage("~/Views/Shared/ListFilter.cshtml")
    </div>
</div>
<div class="am-g">
    <div class="am-u-md-10 am-u-md-offset-1">
        @RenderPage("List.cshtml")
    </div>    
</div>
