<div class="am-g job-item">
    <div class="am-u-md-6">
        <h2 class="">
            <span class="job-title">网络工程师</span>
            <span class="job-area">北京</span>
            <span class="timestamp">06/01 11:26</span>
        </h2>
        <div>
            <span style="color:#FF6666">8K-15K</span>
            <span>经验2-3年  /  学历大专 </span>
        </div>
        <div class="">
            <span>技能要求：</span>
            <span><a href="javascript:void(0);">android</a> / <a href="javascript:void(0);">python</a> / <a href="javascript:void(0);">java</a> / <a href="javascript:void(0);">lua</a> / <a href="javascript:void(0);">ios</a> / <a href="javascript:void(0);">自动化</a></span>
        </div>
    </div>
    <div class="am-u-md-5">
        <h2 class="">
            <a href="#">北京西凌立华科技有限公司</a>
        </h2>
        <div>互联网 / 成长型</div>
        <div>
            <span class="am-badge tag">五险一金</span>
            <span class="am-badge tag">年度旅游</span>
            <span class="am-badge tag">股票期权</span>
            <span class="am-badge tag">岗位晋升</span>
        </div>
    </div>
    <div class="am-u-md-1">
        <a href="#">详细 &raquo;</a>
    </div>
</div>
<div class="am-g job-item">
    <div class="am-u-md-6">
        <h2 class="">
            <span class="job-title">网络工程师</span>
            <span class="job-area">北京</span>
            <span class="timestamp">06/01 11:26</span>
        </h2>
        <div>
            <span style="color:#FF6666">8K-15K</span>
            <span>经验2-3年  /  学历大专 </span>
        </div>
        <div class="">
            <span>技能要求：</span>
            <span><a href="javascript:void(0);">android</a> / <a href="javascript:void(0);">python</a> / <a href="javascript:void(0);">java</a> / <a href="javascript:void(0);">lua</a> / <a href="javascript:void(0);">ios</a> / <a href="javascript:void(0);">自动化</a></span>
        </div>
    </div>
    <div class="am-u-md-5">
        <h2 class="">
            <a href="#">北京西凌立华科技有限公司</a>
        </h2>
        <div>互联网 / 成长型</div>
        <div>
            <span class="am-badge tag">五险一金</span>
            <span class="am-badge tag">年度旅游</span>
            <span class="am-badge tag">股票期权</span>
            <span class="am-badge tag">岗位晋升</span>
        </div>
    </div>
    <div class="am-u-md-1">
        <a href="#">详细 &raquo;</a>
    </div>
</div>
<div class="am-g job-item">
    <div class="am-u-md-6">
        <h2 class="">
            <span class="job-title">网络工程师</span>
            <span class="job-area">北京</span>
            <span class="timestamp">06/01 11:26</span>
        </h2>
        <div>
            <span style="color:#FF6666">8K-15K</span>
            <span>经验2-3年  /  学历大专 </span>
        </div>
        <div class="">
            <span>技能要求：</span>
            <span><a href="javascript:void(0);">android</a> / <a href="javascript:void(0);">python</a> / <a href="javascript:void(0);">java</a> / <a href="javascript:void(0);">lua</a> / <a href="javascript:void(0);">ios</a> / <a href="javascript:void(0);">自动化</a></span>
        </div>
    </div>
    <div class="am-u-md-5">
        <h2 class="">
            <a href="#">北京西凌立华科技有限公司</a>
        </h2>
        <div>互联网 / 成长型</div>
        <div>
            <span class="am-badge tag">五险一金</span>
            <span class="am-badge tag">年度旅游</span>
            <span class="am-badge tag">股票期权</span>
            <span class="am-badge tag">岗位晋升</span>
        </div>
    </div>
    <div class="am-u-md-1">
        <a href="#">详细 &raquo;</a>
    </div>
</div>

<div class="am-g">
    <button type="button" class="am-btn am-btn-default am-u-sm-centered">默认样式</button>
</div>