<div class="am-u-md-2">
    <ul class="am-nav">
        <li class="am-nav-header">职位分类</li>
        <li class="am-active"><a href="resume">全部职位分类</a></li>
        <li><a href="collection">收藏</a></li>
        <li><a href="deliver">投递</a></li>
        <li class="am-nav-divider"></li>
        <li><a href="setting">个人设置</a></li>
    </ul>
</div>

