<div class="container">
    <div class="row nav-top">
        <div class="col-md-2">
            <a href="index" class="active">简历</a>
        </div>
        <div class="col-md-2">
            <a href="index">收藏</a>
        </div>
        <div class="col-md-2">
            <a href="index">面试</a>
        </div>
        <div class="col-md-2">
            <a href="index">投递</a>
        </div>
        <div class="col-md-2">
            <a href="index">设置</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">基本信息</label>
                    <div class="col-md-10">
                        <p class="form-control-static">35岁  /  男  /  10年及以上</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">手　机</label>
                    <div class="col-md-10">
                        <p class="form-control-static">13987142942</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">电子邮箱</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="电子邮件">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <p>
                            <div class="container">
                                <div>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="label tag">Default<span class="glyphicon glyphicon-remove"></span></span>
                                </div>

                            </div>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>