<div class="am-g">
    <div class="am-u-md-8">
        <img src="/img/people.jpg" class="am-img-responsive">
    </div>
    <div class="am-u-md-4">
        <h1><span class="am-text-danger" style="margin-right:10px;">YouToE</span>优途易</h1>
        <h2>精英与企业的桥梁！</h2>
        <div>
            <p>
                <span class="am-text-danger" style="font-size:60px;">You</span>—“you”同“你”，即个人;“you”同“优”，即精英
            </p>
            <p>
                <span class="am-text-danger" style="font-size:60px;">To</span>—到达、通往，取意为“桥梁纽带”寓意行走、到达、通往之意。
            </p>
            <p>
                <span class="am-text-danger" style="font-size:60px;">E</span>—Enterprise英语单词“企业”的首字母;Easy英语单词“容易”首字母，英语发音“E”同汉语拼音“易”，寓意捷径。
            </p>
            <h2>
                构建建设各领域的精英与建设各领域优秀企业的沟通平台、应聘个人和招聘企业的桥梁纽带
            </h2>
        </div>
    </div>
    <div class="am-u-md-1"></div>
</div>

