<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Landing Page | Amaze UI Example</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="/i/favicon.png">
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <style>
        .get {
            background: #1E5B94;
            color: #fff;
            text-align: center;
            padding: 100px 0;
        }

        .get-title {
            font-size: 200%;
            border: 2px solid #fff;
            padding: 20px;
            display: inline-block;
        }

        .get-btn {
            background: #fff;
        }

        .detail {
            background: #fff;
        }

        .detail-h2 {
            text-align: center;
            font-size: 150%;
            margin: 40px 0;
        }

        .detail-h3 {
            color: #1f8dd6;
        }

        .detail-p {
            color: #7f8c8d;
        }

        .detail-mb {
            margin-bottom: 30px;
        }

        .hope {
            background: #0bb59b;
            padding: 50px 0;
        }

        .hope-img {
            text-align: center;
        }

        .hope-hr {
            border-color: #149C88;
        }

        .hope-title {
            font-size: 140%;
        }

        .about {
            background: #fff;
            padding: 40px 0;
            color: #7f8c8d;
        }

        .about-color {
            color: #34495e;
        }

        .about-title {
            font-size: 180%;
            padding: 30px 0 50px 0;
            text-align: center;
        }

        .footer p {
            color: #7f8c8d;
            margin: 0;
            padding: 15px 0;
            text-align: center;
            background: #2d3e50;
        }
    </style>
</head>
<body>
    <div class="get">
        <div class="am-g">
            <div class="am-u-lg-12">
                <h1 class="get-title">云南镕诚建设项目管理（集团）有限公司</h1>

                <p>
                    期待你的参与，共同打造一个简单易用的建设项目管理类网站
                </p>

                <p>
                    <a href="~/" class="am-btn am-btn-sm get-btn">获取新get技能√</a>
                </p>
            </div>
        </div>
    </div>

    <div class="detail">
        <div class="am-g am-container">
            <div class="am-u-lg-12">
                <h2 class="detail-h2">期待和你在一起!</h2>

                <div class="am-g">
                    <div class="am-u-md-7 detail-mb">

                        <h3 class="detail-h3">
                            镕诚集团简介
                        </h3>

                        <p class="detail-p">
                            镕诚集团（全称：云南镕诚建设项目管理（集团）有限公司RongChina Engineering Consultant（Group）Co.,LTD (Yunnan,China)）是云南省首家以从事建设项目管理为主导业务的专业性项目管理集团公司，注册资本1000万元人民币，股权结构合理，符合现代企业制度；公司同时具备国家发改委和住房和城乡建设部“甲级”项目管理和咨询资质，以及工程咨询、造价、招标、监理等专项资质。集团公司目前拥有：云南镕诚建设监理咨询有限公司、云南镕诚建设招标咨询有限公司、云南镕诚建设造价咨询有限公司和云南镕诚园林古建筑工程有限公司四家专业化子公司，以及分布云南省16各州市的30家分公司。
                        </p>
                    </div>
                    <div class="am-u-md-5 detail-mb">
                        <h3 class="detail-h3">
                            文化理念
                        </h3>
                        <p class="detail-p">
                            企业服务宗旨：“守法、诚信、优质、高效！”
                        </p>
                        <p class="detail-p">
                            企业服务宗旨：“守法、诚信、优质、高效！”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
