<ul class="switch-menu-check no-select">
    <li class="active">
        <a class="pad40" href="https://zb.oschina.net/reward/unknown?status=all" title="全部的悬赏">全部</a>
    </li>
    <li>
        <a class="pad40" href="https://zb.oschina.net/reward/unknown?status=open" title="报名中的悬赏">报名中</a>
    </li>
    <li>
        <a class="pad40" href="https://zb.oschina.net/reward/unknown?status=indev" title="开发中的悬赏">开发中</a>
    </li>
    <li>
        <a class="pad40" href="https://zb.oschina.net/reward/unknown?status=close" title="已结束的悬赏">已结束</a>
    </li>
</ul>
<div class="list-item" onclick="page.goDetail(event,'https://zb.oschina.net/reward/c73fa68a488f87ff40859a1fa8a1ef6b')">
    <div class="lyt">

        <div class="lyt-aw reward-title wrap">
            <a class="mr" href="https://zb.oschina.net/reward/c73fa68a488f87ff40859a1fa8a1ef6b" target="_blank" title="h5网站开发 开放式问题自选答案并生成PDF文档下载系统">
                <span class="status-3">[报名中]&nbsp;</span>h5网站开发 开放式问题自选答案并生成PDF文档下载系统
            </a>
            <span class="reward-tag reward-tag-orange">HTML5</span>
            <div class="favor-div ib" style="display: none;margin-left: 10px;">
                <i obj_id="13001" onclick="page.add_favor(event,this);return false;" class="favor-i favor-icon-null" style="line-height: 30px;height: 30px;margin-bottom: 5px;background-position: 0px 2px;"></i>
                <span class="attr favor-tips">收藏</span>
            </div>
        </div>
        <div class="lyt-cell reward-flag">
        </div>
    </div>

    <div class="lee-layout reward-content-panel">
        <div class="lee-layout-right">
            <span class="yen" style="top:0px;">3,000</span>
        </div>
        <div class="lee-layout-column">
            <div class="reward-content wrap">
                代码已经完成了90%了（java写的）php开发的 可以参考下 &nbsp; 由于开发人员有个人急事儿 项目需求急 &nbsp;剩下得希望找个靠谱的开发人员完成收尾 对编写语言 没要求 &nbsp;只要求 ...
            </div>
        </div>
    </div>
    <div class="lee-layout row">
        <div class="lee-layout-left">
            <div class="reward-tip">技能要求&nbsp;:&nbsp;</div>
        </div>
        <div class="lee-layout-column">
            <div class="reward-tip-rz wrap" title="">无</div>
        </div>
    </div>
    <div class="lee-layout sundry">
        <div class="lee-layout-right">
            <span class="reward-tip">
                报名人数&nbsp;:&nbsp;<span class="reward-tip-rz">5&nbsp;人&nbsp;</span>|&nbsp;
                交付周期&nbsp;:&nbsp;<span class="reward-tip-rz">20&nbsp;天&nbsp;</span>
            </span>
        </div>
        <div class="lee-layout-column">
            <div class="lee-layout">
                <div class="lee-layout-left">
                    <span class="reward-tip">悬赏者&nbsp;:&nbsp;</span>
                </div>
                <div class="lee-layout-column">
                    <span class="reward-tip-rz">SUKOU</span>
                    <span class="reward-tip reward-tip-date">2016-06-05发布</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-item" onclick="page.goDetail(event,'https://zb.oschina.net/reward/d1c07f4af6c7374562124ab1ee15d536')">
    <div class="lyt">

        <div class="lyt-aw reward-title wrap">
            <a class="mr" href="https://zb.oschina.net/reward/d1c07f4af6c7374562124ab1ee15d536" target="_blank" title="microsoft.office.interop.word去掉已有word段落的空格和生成目录，并指定目录样式">
                <span class="status-3">[报名中]&nbsp;</span>microsoft.office.interop.word去掉已有word段落的空格和生成目录，并指定目录样式
            </a>
            <span class="reward-tag reward-tag-yellow">其它</span>
            <div class="favor-div ib" style="display: none;margin-left: 10px;">
                <i obj_id="12997" onclick="page.add_favor(event,this);return false;" class="favor-i favor-icon-null" style="line-height: 30px;height: 30px;margin-bottom: 5px;background-position: 0px 2px;"></i>
                <span class="attr favor-tips">收藏</span>
            </div>
        </div>
        <div class="lyt-cell reward-flag">
        </div>
    </div>

    <div class="lee-layout reward-content-panel">
        <div class="lee-layout-right">
            <span class="yen" style="top:0px;">1,000</span>
        </div>
        <div class="lee-layout-column">
            <div class="reward-content wrap">
                【要求】 1、给定已有word,遍历word中所在正文段落，发现段落开头有空格或者缩进，全部去掉。 2、根据已有word的提纲，也就是标题，在指定页或指定位置，如：第3页，生成...
            </div>
        </div>
    </div>
    <div class="lee-layout row">
        <div class="lee-layout-left">
            <div class="reward-tip">技能要求&nbsp;:&nbsp;</div>
        </div>
        <div class="lee-layout-column">
            <div class="reward-tip-rz wrap" title="熟悉"> 熟悉</div>
        </div>
    </div>
    <div class="lee-layout sundry">
        <div class="lee-layout-right">
            <span class="reward-tip">
                报名人数&nbsp;:&nbsp;<span class="reward-tip-rz">3&nbsp;人&nbsp;</span>|&nbsp;
                交付周期&nbsp;:&nbsp;<span class="reward-tip-rz">5&nbsp;天&nbsp;</span>
            </span>
        </div>
        <div class="lee-layout-column">
            <div class="lee-layout">
                <div class="lee-layout-left">
                    <span class="reward-tip">悬赏者&nbsp;:&nbsp;</span>
                </div>
                <div class="lee-layout-column">
                    <span class="reward-tip-rz">tianpeng91</span>
                    <span class="reward-tip reward-tip-date">2016-06-03发布</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-item" onclick="page.goDetail(event,'https://zb.oschina.net/reward/b810db5f81db5dec7b20708c9ce28955')">
    <div class="lyt">

        <div class="lyt-aw reward-title wrap">
            <a class="mr" href="https://zb.oschina.net/reward/b810db5f81db5dec7b20708c9ce28955" target="_blank" title="体育彩票网站数据抓取技术">
                <span class="status-3">[报名中]&nbsp;</span>体育彩票网站数据抓取技术
            </a>
            <span class="reward-tag reward-tag-yellow">其它</span>
            <div class="favor-div ib" style="display: none;margin-left: 10px;">
                <i obj_id="12990" onclick="page.add_favor(event,this);return false;" class="favor-i favor-icon-null" style="line-height: 30px;height: 30px;margin-bottom: 5px;background-position: 0px 2px;"></i>
                <span class="attr favor-tips">收藏</span>
            </div>
        </div>
        <div class="lyt-cell reward-flag">
        </div>
    </div>

    <div class="lee-layout reward-content-panel">
        <div class="lee-layout-right">
            <span class="yen" style="top:0px;">1,500</span>
        </div>
        <div class="lee-layout-column">
            <div class="reward-content wrap">
                指定3个网站的数据抓取 把所有足球比赛的数据，进行中和还没开始的都抓取下来 要把同一场比赛都归类到一起，比如3个网站都有中国队VS日本队的比赛，那这部分数据要储存到...
            </div>
        </div>
    </div>
    <div class="lee-layout row">
        <div class="lee-layout-left">
            <div class="reward-tip">技能要求&nbsp;:&nbsp;</div>
        </div>
        <div class="lee-layout-column">
            <div class="reward-tip-rz wrap" title="">无</div>
        </div>
    </div>
    <div class="lee-layout sundry">
        <div class="lee-layout-right">
            <span class="reward-tip">
                报名人数&nbsp;:&nbsp;<span class="reward-tip-rz">18&nbsp;人&nbsp;</span>|&nbsp;
                交付周期&nbsp;:&nbsp;<span class="reward-tip-rz">15&nbsp;天&nbsp;</span>
            </span>
        </div>
        <div class="lee-layout-column">
            <div class="lee-layout">
                <div class="lee-layout-left">
                    <span class="reward-tip">悬赏者&nbsp;:&nbsp;</span>
                </div>
                <div class="lee-layout-column">
                    <span class="reward-tip-rz">skyring</span>
                    <span class="reward-tip reward-tip-date">2016-06-02发布</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-item" onclick="page.goDetail(event,'https://zb.oschina.net/reward/aaf100254c7c1a9959ab23812f4d85ec')">
    <div class="lyt">

        <div class="lyt-aw reward-title wrap">
            <a class="mr" href="https://zb.oschina.net/reward/aaf100254c7c1a9959ab23812f4d85ec" target="_blank" title="java爬虫，模拟手工输入参数查询相应信息（无登录页面）">
                <span class="status-8">[开发中]&nbsp;</span>java爬虫，模拟手工输入参数查询相应信息（无登录页面）
            </a>
            <span class="reward-tag reward-tag-cyan">网站</span>
            <div class="favor-div ib" style="display: none;margin-left: 10px;">
                <i obj_id="12988" onclick="page.add_favor(event,this);return false;" class="favor-i favor-icon-null" style="line-height: 30px;height: 30px;margin-bottom: 5px;background-position: 0px 2px;"></i>
                <span class="attr favor-tips">收藏</span>
            </div>
        </div>
        <div class="lyt-cell reward-flag">
        </div>
    </div>

    <div class="lee-layout reward-content-panel">
        <div class="lee-layout-right">
            <span class="yen" style="top:0px;">1,000</span>
        </div>
        <div class="lee-layout-column">
            <div class="reward-content wrap">
                1、模拟手工输入参数，点击提交，从返回的结果中获取相关信息 2、能实现并发处理。
            </div>
        </div>
    </div>
    <div class="lee-layout row">
        <div class="lee-layout-left">
            <div class="reward-tip">技能要求&nbsp;:&nbsp;</div>
        </div>
        <div class="lee-layout-column">
            <div class="reward-tip-rz wrap" title="">无</div>
        </div>
    </div>
    <div class="lee-layout sundry">
        <div class="lee-layout-right">
            <span class="reward-tip">
                报名人数&nbsp;:&nbsp;<span class="reward-tip-rz">16&nbsp;人&nbsp;</span>|&nbsp;
                交付周期&nbsp;:&nbsp;<span class="reward-tip-rz">5&nbsp;天&nbsp;</span>
            </span>
        </div>
        <div class="lee-layout-column">
            <div class="lee-layout">
                <div class="lee-layout-left">
                    <span class="reward-tip">悬赏者&nbsp;:&nbsp;</span>
                </div>
                <div class="lee-layout-column">
                    <span class="reward-tip-rz">胡强忠</span>
                    <span class="reward-tip reward-tip-date">2016-06-02发布</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-item" onclick="page.goDetail(event,'https://zb.oschina.net/reward/74f417fb638e29608aa9922e0c2ba5e7')">
    <div class="lyt">

        <div class="lyt-aw reward-title wrap">
            <a class="mr" href="https://zb.oschina.net/reward/74f417fb638e29608aa9922e0c2ba5e7" target="_blank" title="CAS SSO单点登录ajax请求拦截，白名单循环重定向。">
                <span class="status-4">[已结赏]&nbsp;</span>CAS SSO单点登录ajax请求拦截，白名单循环重定向。
            </a>
            <span class="reward-tag reward-tag-cyan">网站</span>
            <div class="favor-div ib" style="display: none;margin-left: 10px;">
                <i obj_id="12986" onclick="page.add_favor(event,this);return false;" class="favor-i favor-icon-null" style="line-height: 30px;height: 30px;margin-bottom: 5px;background-position: 0px 2px;"></i>
                <span class="attr favor-tips">收藏</span>
            </div>
        </div>
        <div class="lyt-cell reward-flag">
        </div>
    </div>

    <div class="lee-layout reward-content-panel">
        <div class="lee-layout-right">
            <span class="yen" style="top:0px;">1,000</span>
        </div>
        <div class="lee-layout-column">
            <div class="reward-content wrap">
                [背景] 公司有多个产品现需要实现多个产品之间的单点登录，现在采用的开源项目cas做的单点登录。 [需求] 现在阶段存在一下问题： 1、通过白名单实现URL过滤，过滤过程中...
            </div>
        </div>
    </div>
    <div class="lee-layout row">
        <div class="lee-layout-left">
            <div class="reward-tip">技能要求&nbsp;:&nbsp;</div>
        </div>
        <div class="lee-layout-column">
            <div class="reward-tip-rz wrap" title="主要涉及的技术：shrio、cas 、spring 、redis"> 主要涉及的技术：shrio、cas 、spring 、redis...</div>
        </div>
    </div>
    <div class="lee-layout sundry">
        <div class="lee-layout-right">
            <span class="reward-tip">
                报名人数&nbsp;:&nbsp;<span class="reward-tip-rz">2&nbsp;人&nbsp;</span>|&nbsp;
                结赏时间&nbsp;:&nbsp;<span class="reward-tip-rz">2016-06-02</span>
            </span>
        </div>
        <div class="lee-layout-column">
            <div class="lee-layout">
                <div class="lee-layout-left">
                    <span class="reward-tip">悬赏者&nbsp;:&nbsp;</span>
                </div>
                <div class="lee-layout-column">
                    <span class="reward-tip-rz">allen_2288</span>
                    <span class="reward-tip reward-tip-date">2016-06-02发布</span>
                </div>
            </div>
        </div>
    </div>
    <div class="reward-status">
        获得者
        <a href="http://my.oschina.net/u/2254304" target="_blank">
        </a><a href="/profile/2254304/index">
            <img style="border-radius:50px;border: none;" src="https://static.oschina.net/uploads/user/1127/2254304_100.jpg?t=1413516162000" align="absmiddle" alt="XJ_HuiJin" onerror="this.src='/js/zb/public/stylesheets/imgs/portrait.jpg?t=1451961937000'" title="XJ_HuiJin">
        </a>
        XJ_HuiJin

    </div>
</div>