<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">系统提示</div>
        <div class="am-modal-bd">
            <div class="am-alert" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <h3>共同渡过</h3>
                <p>《共同渡过》是张国荣1987年发行的专辑《Summer Romance》中的一首歌。</p>
                <ul>
                    <li>若我可再活多一次都盼</li>
                    <li>再可以在路途重逢着你</li>
                    <li>共去写一生的句子</li>
                    <li>若我可再活多一次千次</li>
                    <li>我都盼面前仍是你</li>
                    <li>我要他生都有今生的暖意</li>
                </ul>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
