<div id="top-menu" class="am-g">
    <div class="am-u-md-2"><a href="~/"><img src="/img/logo.jpg" class="am-img-responsive"></a></div>
    <div class="am-u-md-2">
        <a href="~/package" class="am-btn am-btn-danger">项目</a>
    </div>
    <div class="am-u-md-2">
        <a href="~/job" class="am-btn am-btn-danger">招聘</a>
    </div>
    @*<div class="am-u-md-2">
        <a href="~/job" class="am-btn am-btn-default">求职</a>
    </div>*@
    <div class="am-u-md-2">
        <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
            <button class="am-btn am-btn-lg am-btn-secondary am-topbar-btn am-dropdown-toggle" data-am-dropdown-toggle>发布<span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
                <li><a href="~/publish/package">项目合作</a></li>
                <li><a href="~/publish/job">企业招聘</a></li>
                <li><a href="~/publish/resume">个人简历</a></li>
            </ul>
        </div>
    </div>
</div>
