<div class="container">
    <div class="row" style="vertical-align:bottom">
        <div class="col-md-3"><a href="~/index.html"><img src="~/img/logo.jpg" class="img-responsive" /></a></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2"><a href="~/publish/subpackage" role="button" class="btn btn-danger" style="margin-top:15px;width:100%">分包</a></div>
                <div class="col-md-2"><a href="~/publish/package" role="button" class="btn btn-danger" style="margin-top:15px;width:100%">整包</a></div>
                <div class="col-md-2"><a href="~/publish/hire" role="button" class="btn btn-danger" style="margin-top:15px;width:100%">招聘</a></div>
                <div class="col-md-2"><a href="~/publish/job" role="button" class="btn btn-danger" style="margin-top:15px;width:100%">求职</a></div>
                <div class="col-md-4"><a href="~/publish/subpackage" class="btn btn-info" style="margin-top:15px;width:100%">发布</a></div>
            </div>
        </div>
    </div>
</div>
