<div id="top-menu" class="am-g">
    <div class="am-u-md-3"><a href="/index.html"><img src="/img/logo.jpg" class="am-img-responsive" /></a></div>
    @foreach (var item in ViewBag.Catetories)
    {
        <div class="am-u-md-2">
            <a href="@item.id" class="am-btn am-btn-primary">@item.name</a>
        </div>
    }
    <div class="am-u-md-1"><a href="~/publish/subpackage" class="am-btn am-btn-danger">发布</a></div>
</div>
@section SubCategories{
<ul class="am-nav">
    @foreach (var item in ViewBag.Catetories)
    {
        if (item.subject)
        {
            foreach(var sub in item.subject)
            {
                <li class="am-active"><a href="@sub.url">@sub.name</a></li>
            }
        }
    }
    
    @*<li><a href="#">分割线<span class="am-nav-en">Divider</span></a></li>
    <li><a href="#">单张图片<span class="am-nav-en">Figure</span></a></li>
    <li><a href="/widgets/footer">页脚<span class="am-nav-en">Footer</span></a></li>
    <li><a href="/widgets/gallery">图片画廊<span class="am-nav-en">Gallery</span></a></li>*@
</ul>
}