@using Web.Helper
@{
    var Job = ViewBag.Job as Web.Models.Job;
    var Company = ViewBag.Company as Web.Models.Company;
}
<div class="am-g" style="background-color:#f5f5f5;">
    <div class="am-u-md-10 am-u-md-centered">
        <div class="am-g job-detail-head">
            <div class="am-u-md-6">
                <h1 title="软件测试工程师">
                    软件测试工程师<span>昆明</span>
                </h1>
                <div><a href="#">昆明福人科技有限公司</a></div>
                <p>
                    <span>民营公司</span>
                    <span>少于50人</span>
                    <span>计算机软件</span>
                </p>
            </div>
            <div class="am-u-md-2">
                <h4 class="am-text-danger">80000+ /月</h4>
            </div>
            <div class="am-u-md-4">
                <a class="am-btn am-btn-xl am-btn-danger" href="deliver">投递简历</a>
            </div>
        </div>
    </div>
</div>
<div class="am-g" style="margin-top:10px;">
    <div class="am-u-md-10 am-u-md-centered">
        <div class="am-g">
            <div class="am-u-md-8">
                <div class="am-g">
                    <div class="am-u-md-12 job-detail-body">
                        <div class="am-g">
                            <div class="am-u-md-3">
                                <span>经验</span>
                                <span>2年经验</span>
                            </div>
                            <div class="am-u-md-3">
                                <span>学历</span>
                                <span>大专</span>
                            </div>
                            <div class="am-u-md-3">
                                <span>人数</span>
                                <span>招聘1人</span>
                            </div>
                            <div class="am-u-md-3">
                                <span>日期</span>
                                <span>07-10发布</span>
                            </div>
                        </div>
                        <p class="tags">
                            <span>五险</span>
                            <span>专业培训</span>
                            <span>绩效奖金</span>
                            <span>年终奖金</span>
                        </p>
                    </div>
                    
                </div>
                <div class="am-g">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">职位信息</div>
                        <div class="am-panel-bd">
                            面板内容
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-md-4">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">职位推荐
                            <span class="am-fr">更多</span>
                        </h3>
                    </div>
                    <ul class="am-list am-list-static">
                        <li>
                            <p>
                                <span>WEB项目JAVA软件开发工程师</span>
                                <span class="am-fr">3000-8000/月</span>
                            </p>
                            <p>
                                <span>上海高千软件科技有限公司</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>WEB项目JAVA软件开发工程师</span>
                                <span class="am-fr">3000-8000/月</span>
                            </p>
                            <p>
                                <span>上海高千软件科技有限公司</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
